{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<article class="post card-group-element-item"><div class="card">
   <div class="card-img-top">
     <f:if condition="{post.featuredImage}">
         <blogvh:link.post post="{post}" class="postlist__featuredimage" additionalAttributes="{aria-hidden: 'true'}" tabindex="-1">
             <f:render partial="General/FeaturedImage" arguments="{image: post.featuredImage, settings: settings.lists.featuredImage}" />
         </blogvh:link.post>
     </f:if>
     <f:comment><f:if condition="{post.media -> f:count()}">
     <f:for each="{post.media}" as="media" iteration="i">
          <blog:link.post post="{post}">
             <f:image src="{media.uid}" treatIdAsReference="1" alt="{post.title}" title="{post.title}" width="{width}" height="{height}" />
             <f:comment><img alt="{file.properties.alternative}" class="lazyload lazy" src="/typo3conf/ext/cogtail_publishing/Resources/Public/Img/placeholder.gif" data-src="{f:uri.image(image: media, cropVariant: 'default', maxWidth: variants.default.width)}" title="{post.title}" loading="lazy"></f:comment>
         </blog:link.post>
     </f:for>
     </f:if></f:comment>

   </div>
   <div class="card-body">
   <h2 class="card-title" itemprop="name"><f:format.crop maxCharacters="55"><blog:link.post post="{post}" /></f:format.crop></h2>
   <f:if condition="{post.subtitle}"><span class="blog-sub">{post.subtitle}</span></f:if>
   <f:render partial="Meta/ListHeader" arguments="{_all}" />
   <f:if condition="{post.abstract}">
        <f:then>
            <p itemprop="description"><f:format.crop maxCharacters="125">{post.abstract}</f:format.crop></p>
        </f:then>
        <f:else>
            <p itemprop="description">{post.description}</p>
        </f:else>
   </f:if>
   <f:if condition="{f:cObject(typoscriptObjectPath: 'settings.nocategoriesinlist')}==1"><f:render partial="Meta/ListFooter" arguments="{_all}" /></f:if>
   </div>
   <f:if condition="{f:cObject(typoscriptObjectPath: 'settings.readmorebloglink')}==1"><div class="card-footer">
       <blog:link.post post="{post}" class="btn btn-sm">
          Details
      </blog:link.post>
   </div></f:if>
</div></article>
