<f:if condition="{image}">
    <f:variable name="height" value="{f:if(condition: settings.height, then: settings.height, else: '1140')}" />
    <f:variable name="width" value="{f:if(condition: settings.width, then: settings.width, else: '400c')}" />
    <figure class="blogimage t3blog blogimage--featured">
      <picture>
          <source srcset="{f:uri.image(image: image,maxWidth:'992')}" media="(min-width: 768px) and (max-width: 991px)">
          <source srcset="{f:uri.image(image: image,maxWidth:'768', fileExtension: 'webp')}" media="(min-width: 576px) and (max-width: 767px)">
          <source srcset="{f:uri.image(image: image,maxWidth:'575', fileExtension: 'webp')}" media="(max-width: 575px)">
          <f:image image="{image}" alt="{image.alternative}" title="{image.title}" width="{width}" height="{height}" />
      </picture>
    </figure>
</f:if>
