{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">
    <f:if condition="{authors}">
        <f:then>
            <f:comment>In case authors is set, to special author is in request and we show all authors as links.</f:comment>
            <h1 class="page-title"><f:translate key="headline.authors" /></h1>
            <ul class="list-inline">
                <f:for each="{authors}" as="author">
                    <li><blog:link.author author="{author}" /></li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <f:comment>In case authors is NOT set, a special author is in request and we show all blogs posts of this author.</f:comment>
            <h1 class="page-title"><f:translate key="headline.author" arguments="{0: author.name}" /></h1>
            <div class="taxonomy-description">
                <p>{author.bio}</p>
            </div>
            <f:render partial="List" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>

<f:section name="FooterAssets">
    <f:if condition="{settings.comments.disqus._typoScriptNodeValue} === '1'">
        <script id="dsq-count-scr" src="//{settings.comments.disqus.shortname}.disqus.com/count.js" async></script>
    </f:if>
</f:section>
