{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<f:layout name="Default" />
<f:section name="Content">
    <f:if condition="{categories}">
        <f:then>
            <f:comment>In case categories is set, to special category is in request and we show all categories as links.</f:comment>
            <h1 class="page-title {f:translate(key: 'headline.categories')}"><f:translate key="headline.categories" /></h1>
            <ul class="list-inline">
                <f:for each="{categories}" as="category">
                    <li><blog:link.category category="{category}" /></li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <f:comment>In case categories is NOT set, a special category is in request and we show all blogs posts of this category.</f:comment>
            <h1 class="page-title {f:translate(key: 'headline.categories')}"><f:translate key="headline.category" arguments="{0: category.title}" /> <f:comment><blog:link.category rss="true" category="{category}"><i class="fa fa-rss-square"></i></blog:link.category></f:comment></h1>
            <div class="taxonomy-description">
                <p>{category.description}</p>
                <f:if condition="{category.content}">
                    <f:cObject typoscriptObjectPath="lib.blog.contentElementRendering">{category.contentElementUidList}</f:cObject>
                </f:if>
            </div>
            <f:render partial="List" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>
