{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
    <h1 class="page-title"><f:if condition="{month}">{f:format.date(format: '{settings.widgets.archive.monthDateFormat}', date: timestamp)}</f:if> {year} <f:comment><blog:link.archive rss="true" year="{year}" month="{month}"><i class="fa fa-rss-square"></i></blog:link.archive></f:comment></h1>
    <f:render partial="List" arguments="{_all}" />
</f:section>
