{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<f:layout name="Widget" />
<f:section name="Title"><f:translate key="headline.rssfeed" /></f:section>
<f:section name="Content">

    <ul class="blogwidgetlist blogwidgetlist--feeds feeds">
        <li class="blogwidgetlist__item">
            <f:link.page pageUid="{settings.blogUid}" class="blogwidgetlist__itemlink" title="Recent posts" pageType="200">

            </f:link.page>
        </li>
    </ul>
</f:section>
