<f:layout name="Widget" />
<f:section name="Title"><f:translate key="headline.tags" /></f:section>
<f:section name="Content">
    <ul class="sidebar-tags">
        <f:for each="{tags}" as="tag">
            <li class="sidebar-tag-item{f:if(condition: '{currentTag} == {tag.uid}', then: ' tag-item-active')}">
                <blogvh:link.tag class="btn btn-sm" tag="{tag.tagObject}" />
            </li>
        </f:for>
    </ul>
</f:section>
