<f:variable name="name">categories</f:variable>
<f:variable name="icon"><f:render partial="General/BlogIcons" section="Category" optional="true" /></f:variable>
<f:variable name="prefix"><f:translate key="meta.categories.category"/></f:variable>

<f:if condition="{post.categories}">
    <f:if condition="{post.categories -> f:count()} > 1">
        <f:variable name="prefix"><f:translate key="meta.categories.categories"/></f:variable>
    </f:if>
    <f:render partial="Meta/Rendering/Item" arguments="{name: name, icon: icon, prefix: prefix}" contentAs="content">
            <f:for each="{post.categories}" as="postCategory">
                <blogvh:link.category category="{postCategory}" class="btn btn-sm" />
            </f:for>
    </f:render>
</f:if>
