<f:variable name="name">tags</f:variable>
<f:variable name="icon"><f:render partial="General/BlogIcons" section="Tag" optional="true" /></f:variable>
<f:variable name="prefix"><f:translate key="meta.tags.tag"/></f:variable>

<f:if condition="{post.tags}">
    <f:if condition="{post.tags -> f:count()} > 1">
        <f:variable name="prefix"><f:translate key="meta.tags.tags"/></f:variable>
    </f:if>
    <f:render partial="Meta/Rendering/Item" arguments="{name: name, icon: icon, prefix: prefix}" contentAs="content">
            <f:for each="{post.tags}" as="postTag">
                <blogvh:link.tag tag="{postTag}" class="btn btn-sm" />
            </f:for>
    </f:render>
</f:if>
