/* ***************

SIDEBAR BOX

****************** */

.sidebar-box, .blogwidget, .tx-blog-widget {background: #fff; padding: 15px 15px 15px 15px; margin-bottom: 20px; ;-moz-box-shadow:rgba(0,0,0,.15) 0 0 20px 0;-webkit-box-shadow:rgba(0,0,0,.15) 0 0 20px 0;box-shadow:rgba(0,0,0,.1) 0 0 20px 0}
.feeds a:before {margin-left: 3px;font-family: 'icomoon';content: "\f09e"; padding-right: 4px; color: #e18d00; font-size: 24px}
.cogtail-sidebar .feeds {margin-bottom: 3px}
/* ***************

BLOG EXTENSION LAYOUT

****************** */
.cogtail-inner.blog-list .tx-blog-post-list .post.card-group-element-item .card {border: none}
.weblog .post-content p, .weblog .blogdetail .post-content li {font-size: 18px;} .weblog .post-content li {margin-bottom: 12px;}
.weblog .alert-info {padding-left: 15px}
body, .feature.blog {overflow: visible ! important;}
.weblog .blog-list img {width: 100% ! important; height: auto;}
.weblog .blog-list h2, .weblog .blog-list h2 a {font-size: 26px}
.article-cats li {display: inline; padding-right: 10px}
.sidebar-tags li {display: inline-block; margin-right: 6px; margin-bottom: 3px} .post-tags a:before {font-family: 'icomoon'; content: "\e927"; margin-right: 4px; position: relative; top: 1px}
.post-categories, .post-tags {display: block; width: 100%; padding-left: 8px;} .post-categories a, .post-tags a {font-size: 14px; margin-right: 9px}
.post-categories .label, .post-categories a {line-height: 1.4; display: inline-block; margin-bottom: 5px;} .post-tags span, .post-tags a {line-height: 1.4; display: inline-block}
.tx-blog-authors .panel-body {border: none} .post-authors, .detail-date {margin-left: 8px; color: 555}
.post-authors span {color: #555} .post-authors {margin-bottom: 12px} .post-authors:before {color: #ff8700; font-family: 'icomoon';content: "\e92f"; font-size: 15px; margin-right: 6px; }
.author-name a {font-size: 19px} .author-box-title {margin-top: 0}
.author-social-links {margin-left: 7px}
.author-social-link i {font-size: 16px; color: #a4a4a4; margin-right: 5px} .author-box-intro {font-size: 14px; color: #a4a4a4;}
.tx-blog-authors {padding: 3px; border: 1px solid #d8d8d8; margin: 15px 0; border-radius: 3px ! important}
.author-box .panel .col-xs-12 .author-box-intro, .author-box .panel .col-xs-12 .author-inline-block .author-box-title, .author-box .panel .panel-body .row p.author-more-link {padding-left: 0px ! important}
.blog.maincontent .row {margin-top: -10px;}
@media (min-width: 576px) {.blog.maincontent .row {margin-top: 10px;} .weblog .cogtail-sidebar {position: sticky; top: 94px;}}
@media (min-width:768px){ .weblog .cogtail-sidebar {top: 110px;}}/* Sticky Sidebar */
.blog.maincontent .blog-inner .cogtail-inner {/* display: table; */ padding: 3px 30px 30px 30px; margin-top: 0;}
 @media (min-width: 576px) {.blog .blog-list article {margin-bottom: 0}
.blog .blog-list .c-card-group {margin: 0px /* Adjust right morgin to sidebar: */ 0px 0px 0px; padding: 0px 0px 0px 0px /* Optional Wrapper for Blog-List with bg and padding: background: #fff; padding: 15px 15px 0px 15px */}
}
.blog .blog-detail, .weblog .card {background: #fff; ;-moz-box-shadow:rgba(0,0,0,.15) 0 0 20px 0;-webkit-box-shadow:rgba(0,0,0,.15) 0 0 20px 0;box-shadow:rgba(0,0,0,.1) 0 0 20px 0}
.blog .pagebrowse-wrap{border: none; border-top: 1px solid #ddd;max-width:540px;margin:0 auto;padding:15px 12px 25px 12px;margin-top:12px; margin-bottom:0px ! important;}
.weblog .entry-sharing {padding-bottom: 0 /* 33px */} @media (max-width:991px){.entry-sharing a {max-width: 105px}} /* shariff */
.postcomments {margin: 18px 0}
.weblog .feature.blog {background: #eee}
.tags a, .label-category, .label-default, .label-tag, .blogbadge {background: #f49700 ! important; color: #fff ! important; margin-right: 0px; font-size: 12px ! important; font-weight: 400 ! important; display: inline-block}
.cogtail-sidebar .label-category, .cogtail-sidebar .label-tag{margin-bottom: 5px} .weblog .card .label-category, .weblog .card .label-tag{margin-left: 5px}
.label.label-category, .label-tag, .blogbadge {text-transform: normal;}
.label-default.label-category {padding: 5px 12px} .label-default.label-tag {padding: 3px 8px}
.cogtail-sidebar .tags {padding-bottom: 10px}
.blogwidgetlist__itemauthor {font-size: 16px; font-weight: 400; font-style: italic}
.blog h2 {padding-bottom: 12px}
.blog h2 {margin-bottom: 0} .entry-meta * {font-size: 13px; color: #999999 ! important; font-weight: 400;}
.blog .row .blog-inner .blog-list {padding: 0px ! important; }
/* Bild ueber ganze Spalte begin */
.blog .row .blog-inner .blog-detail {padding: 0px ! important; }
.blog-detail .btn {color: #fff ! important}
.blog .row .blog-inner .blog-detail .post-image {margin-bottom: 15px}
.blog .row .blog-inner .blog-detail .post-content {padding-left:15px; padding-right: 15px}
@media (min-width:768px){.blog .row .blog-inner .blog-detail .post-image {margin-bottom: 17px}.blog .row .blog-inner .blog-detail .post-content {padding-left: 20px; padding-right: 20px}}
.main-headline-blog, .weblog h1 {max-width: 840px}
.weblog .blog .blog-detail img {margin-bottom: 0px}
.cogtail-sidebar .blogwidget__title, .cogtail-sidebar .widget-title {margin-bottom: 12px}
.cogtail-sidebar .blogwidgetlist--tags {padding-top: 6px} .cogtail-sidebar .blogwidgetlist--tags li {margin: 0px;padding-bottom: 4px} .cogtail-sidebar .blogwidgetlist--tags li a, .cogtail-sidebar .tags li a {padding: 8px 12px}
.cogtail-sidebar .blogwidgetlist--recentposts li a span, .cogtail-sidebar .blogwidgetlist--recentposts li a, .weblog .cogtail-sidebar p, .cogtail-sidebar .list li a, #recentcomments li {font-size: 15px; font-weight: 400;}
.blog .list li a {line-height: 1.6; display: inline-block}
.cogtail-sidebar  h1 {margin-top:0}
.cogtail-sidebar .blogwidgetlist--recentposts li a span, .cogtail-sidebar .blogwidgetlist--recentposts li a, .cogtail-sidebar .tx-blog-widget .list li a {font-style: italic} .cogtail-sidebar .list li, .cogtail-sidebar .list li {margin-bottom: 6px}
.comments .comment {padding-top: 22px;}.comments .comment:nth-of-type(odd) {background: #eee;}.comment-avatar {margin-left: 18px}
/* Bild ueber ganze Spalte end */
.blog .row .blog-inner .blog-detail form {padding-bottom: 30px}
.blog .blog-list .blog-teaser-content {padding: 10px 15px 25px 15px;}
.blog .media-left {min-width: 75px /* Breite des Gravatrs */; height: auto}
.blog .media{margin-top:15px} .blog .media:first-child{margin-top:0} .blog .media-body{width:auto} .blog .media-left,.media>.pull-left{padding-right:10px} .blog .media-body, .blog .media-left, .blog .media-right{display:table-cell;vertical-align:top}
.g-recaptcha {margin-bottom: 18px}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){.post.card-group-element-item{width:calc((100% / 2) - 2px)}} /* ie9 fix */
/* Liste zweispaltig  */
@media (min-width:768px){
.blogpagination {display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-13px;margin-right:-13px}
.tx-blog-post-list {/* display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap; */ margin-left:-13px;margin-right:-13px}
.tx-blog-post-list .pagination, .blogpagination {padding-right:10px;display:block;width:100%;-ms-flex:none;flex:none;margin-bottom:0}
.post{margin-bottom:20px;width:50%;padding-left:10px;padding-right:10px;/* display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column; */}
.post:first-child{width:100% ! important}
}
.tx-blog-post-list .pagination{padding-left:9px ! important;}
/* Liste zweispaltig end  */

/* Share Button mobile */
.share-button svg, .share-dialog svg {
  width: 20px;  height: 20px;  margin-right: 7px;}
.share-button, .button {  display: inline-flex;  align-items: center;  justify-content: center;  height: auto;  padding-top: 8px;  padding-bottom: 8px;  color: #777;  text-align: center;  font-size: 14px;  font-weight: 500;  line-height: 1.1;  letter-spacing: 2px;  text-transform: capitalize;  text-decoration: none;
  white-space: nowrap;  border-radius: 4px;  border: 1px solid #ddd;  cursor: pointer;}
button:hover, .button:hover {  border-color: #cdd;}

.show-button {display: none}
.show-button.active {display: block; text-align: center}
@media (min-width: 992px) { .show-button {display: none ! important}}
@media (max-width: 991px) {.enable-sharing .sharing-text, .enable-sharing {display: none ! important}.resp-sharing-button {text-align: center}}


/* Share Button larger Screens */
.resp-sharing-button__icon{display:inline-block}.enable-sharing{display:flex;flex-direction:row;justify-content:space-between;flex-wrap:wrap}.enable-sharing .resp-sharing-button__link{flex-grow:1}.resp-sharing-button__link{text-decoration:none;color:#fff!important;margin:1px}.resp-sharing-button{border-radius:5px;transition:25ms ease-out;padding:.4em .75em;font-family:Helvetica Neue,Helvetica,Arial,sans-serif}.resp-sharing-button__icon svg{width:1em;height:1em;margin-right:.4em;vertical-align:top;position:relative;top:6px!important}.resp-sharing-button--small svg{margin:0;vertical-align:middle}.resp-sharing-button__icon{stroke:#fff;fill:none}.resp-sharing-button__icon--solid,.resp-sharing-button__icon--solidcircle{fill:#fff;stroke:none}.resp-sharing-button--twitter{background-color:#55acee}.resp-sharing-button--twitter:hover{background-color:#2795e9}.resp-sharing-button--pinterest{background-color:#bd081c}.resp-sharing-button--pinterest:hover{background-color:#8c0615}.resp-sharing-button--facebook{background-color:#3b5998}.resp-sharing-button--facebook:hover{background-color:#2d4373}.resp-sharing-button--tumblr{background-color:#35465c}.resp-sharing-button--tumblr:hover{background-color:#222d3c}.resp-sharing-button--reddit{background-color:#5f99cf}.resp-sharing-button--reddit:hover{background-color:#3a80c1}.resp-sharing-button--google{background-color:#dd4b39}.resp-sharing-button--google:hover{background-color:#c23321}.resp-sharing-button--linkedin{background-color:#0077b5}.resp-sharing-button--linkedin:hover{background-color:#046293}.resp-sharing-button--email{background-color:#777}.resp-sharing-button--email:hover{background-color:#5e5e5e}.resp-sharing-button--xing{background-color:#1a7576}.resp-sharing-button--xing:hover{background-color:#114c4c}.resp-sharing-button--whatsapp{background-color:#25d366}.resp-sharing-button--whatsapp:hover{background-color:#1da851}.resp-sharing-button--hackernews{background-color:#f60}.resp-sharing-button--hackernews:focus,.resp-sharing-button--hackernews:hover{background-color:#fb6200}.resp-sharing-button--vk{background-color:#507299}.resp-sharing-button--vk:hover{background-color:#43648c}.resp-sharing-button--facebook{background-color:#3b5998;border-color:#3b5998}.resp-sharing-button--facebook:active,.resp-sharing-button--facebook:hover{background-color:#2d4373;border-color:#2d4373}.resp-sharing-button--twitter{background-color:#55acee;border-color:#55acee}.resp-sharing-button--twitter:active,.resp-sharing-button--twitter:hover{background-color:#2795e9;border-color:#2795e9}.resp-sharing-button--email{background-color:#777;border-color:#777}.resp-sharing-button--email:active,.resp-sharing-button--email:hover{background-color:#5e5e5e;border-color:#5e5e5e}.resp-sharing-button--linkedin{background-color:#0077b5;border-color:#0077b5}.resp-sharing-button--linkedin:active,.resp-sharing-button--linkedin:hover{background-color:#046293;border-color:#046293}.resp-sharing-button--xing{background-color:#1a7576;border-color:#1a7576}.resp-sharing-button--xing:hover .resp-sharing-button--xing:active{background-color:#114c4c;border-color:#114c4c}.resp-sharing-button--whatsapp{background-color:#25d366;border-color:#25d366}.resp-sharing-button--whatsapp:active,.resp-sharing-button--whatsapp:hover{background-color:#1da851;border-color:#1da851}
