<f:if condition="!{name}"><f:variable name="name">default</f:variable></f:if>
<f:comment><div class="postmetagroup__item postmetagroup__item--{name}"></f:comment>
    <f:if condition="{icon}">
        <f:comment><div class="postmetagroup__icon">
            <span class="blogicon">{icon -> f:format.raw()}</span>
        </div></f:comment>
    </f:if>
        <f:comment><f:if condition="{prefix}"><div class="postmetagroup__prefix">{prefix -> f:format.raw()}</div></f:if></f:comment>
        <f:if condition="{content}"><div class="post-{name}">{content -> f:format.raw()}</div></f:if>
<f:comment></div></f:comment>
