{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
  <f:comment><meta itemprop="datePublished" content="{f:format.date(format: '%Y-%m-%dT%H:%M:%S-%z', date: data.publish_date)}"></f:comment>
<div class="entry-meta">
    <f:if condition="{post.subtitle}"><f:then><span class="blog-sub">{post.subtitle}</span></f:then><f:else>
    <span class="entry-date"><blog:link.post post="{post}" rel="bookmark"><span class="entry-date published" datetime="{f:format.date(format: '%Y-%m-%dT%H:%M:%S-%z', date: post.publishDate)}">{f:format.date(format: '{settings.lists.posts.dateFormat}', date: post.publishDate)}</span></blog:link.post>
    </span></f:else></f:if>
    <f:comment>
    <f:if condition="{settings.comments.disqus._typoScriptNodeValue} !== '1'">
        <f:then>
            <f:alias map="{commentCount: '{f:count(subject: \'{post.activeComments}\')}'}">
                <span class="sep">·</span>
                <meta itemprop="commentCount" content="{commentCount}"/>
                <span class="comments-link">
                    <blog:link.post post="{post}" section="comments">
                        <f:if condition="{commentCount} == 1">
                            <f:then><f:translate key="message.comment" arguments="{0: commentCount}"/></f:then>
                            <f:else><f:translate key="message.comments" arguments="{0: commentCount}"/></f:else>
                        </f:if>
                    </blog:link.post>
                </span>
            </f:alias>
        </f:then>
        <f:else>
            <blog:link.post post="{post}" section="disqus_thread" data="{disqus-identifier: '{settings.comments.disqus.shortname}:post:{post.uid}'}">
                <f:translate key="message.comments" arguments="{0: 0}"/>
            </blog:link.post>
        </f:else>
    </f:if>
    </f:comment>
</div>
